*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    background-position: top;

}


nav{
    width: 65%;
    margin: 0 auto;
    background-color: rgb(25, 0, 255);
    position: sticky;
    top: 10px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(25, 0, 253);
    border-bottom: 2px solid rgb(38, 0, 255);
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px rgb(17, 0, 255);
    background-color: rgb(47, 0, 255);
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
}
.panier > a::after{
    content:"🛒";
    font-size: 12px;
}
.deroulant > a::after{
    content:"▼";
    font-size: 12px;
}
.Jeux > a::after{
    content:"🎮";
    font-size: 12px;
}
.vidéo > a::after{
    content:"🎥";
    font-size: 12px;
}
.Produit > a::after{
    content:"📦";
    font-size: 12px;
}
.Valider > a::after{
    content:"✔️";
    font-size: 12px;
}
.Sauvgarder > a::after{
    content:"⏺️";
    font-size: 12px;
}
.echec > a::after{
    content:"♟️ ";
    font-size: 12px;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
.contenant{
    float: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}